/*
-----------------
General
-----------------
*/

h2 {
  text-align:center;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
}

text, button {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}

/*
-----------------
Layout
-----------------
*/

main {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.quadrant {
  display: inline-block;
  width: 40%;
  margin-right: 8em;
  vertical-align: top;
}

.button-row {
  display:flex;
  flex-flow:wrap;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.button-container {
  display: block;
  margin-top: 60px;
}

#stacked-title {
  font-size:1.7rem;
  font-family:monospace;
}

/*
-----------------
Buttons and data
-----------------
*/

button {
  display:inline-block;
  color:white;
  padding:0.5rem 2rem;
  border:0;
  cursor:pointer;
  opacity: 0.75;
  transition: 0.2s;
  flex-basis:20%;
}

button:hover {
  opacity: 1.0;
  transition: 0.2s;
}

button.greyed {
  background-color:grey !important;
  opacity:.25;
}

#BritishColumbia {
  stroke: red;
  background-color: red;
}
rect#BritishColumbia {
  fill:red;
}

#Alberta {
  stroke:blue;
  background-color: blue;
}
rect#Alberta {
  fill:blue;
}

#Saskatchewan {
  stroke: green;
  background-color: green;
}
rect#Saskatchewan {
  fill:green;
}

#Yukon {
  stroke:yellow;
  color:black;
  background-color: yellow;
}
rect#Yukon {
  fill:yellow;
}

#Manitoba {
  stroke: lightblue;
  background-color: lightblue;
}
rect#Manitoba {
  fill:lightblue;
}

#Ontario {
  stroke: purple;
  background-color: purple;
}
rect#Ontario {
  fill:purple;
}

#NewBrunswick {
  stroke:brown;
  background-color: brown;
}
rect#NewBrunswick {
  fill:brown;
}

#NovaScotia {
  stroke: pink;
  background-color: pink;
}
rect#NovaScotia {
  fill:pink;
}

#PEI {
  stroke: orange;
  background-color: orange;
  fill: orange;
}
rect#PEI {
  fill:orange;
}

#Newfoundland {
  stroke: darkgreen;
  background-color: darkgreen;
}
rect#Newfoundland {
  fill:darkgreen;
}

#capita-toggle {
  stroke: red;
  background-color: red;
}

#provinces-all, #provinces-none {
  stroke: blue;
  background-color: blue;
  opacity:;
}

#stacked-bars rect {
  cursor: pointer;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

#year {
  width: 100%;
  cursor: pointer;
}

#line-title {
  font-size: 1.7rem;
  font-family: monospace;
}

.fade {
  opacity: 0.5;
}