#stacked-title{
  font-size:1.7rem;
  font-family:monospace;
}

main{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button{
  display:inline-block;
  color:white;
  padding:0.5rem 2rem;
  border:0;
  cursor:pointer;
  opacity: 0.85;
  transition: 0.2s;
}

button:hover {
  opacity: 1.0;
  transition: 0.2s;
}

.button-container{
  display: block;
  margin-top: 60px;
}

.button-row {
  /*width: 1500px;*/
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

button.greyed{
  background-color:grey !important;
  opacity:.25;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke-width: 1px;
}

#BritishColumbia{
  stroke: red;
  background-color: red;
}

#Alberta{
  stroke:blue;
  background-color: blue;
}

#Saskatchewan{
  stroke: green;
  background-color: green;
}

#Yukon{
  stroke:yellow;
  color:black;
  background-color: yellow;
}

#Manitoba{
  stroke: lightblue;
  background-color: lightblue;
}

#Ontario{
  stroke: purple;
  background-color: purple;
}

#NewBrunswick{
  stroke:brown;
  background-color: brown;
}

#NovaScotia{
  stroke: pink;
  background-color: pink;
}

#PEI{
  stroke: orange;
  background-color: orange;
}

#Newfoundland{
  stroke: darkgreen;
  background-color: darkgreen;
}