#year{
  width:100%;
}


#stacked-title{
  font-size:2rem;
  font-family:monospace;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
